doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- link(rel='icon', href=`/favicon.ico?${hash}`)
    link(rel='stylesheet', href=`/app.css?${hash}`)
    title Title
  body
    #v-app
    script(src=`/app.js?${hash}`)
